body {
  background: #ececec url(../images/page-bgimg.png) no-repeat fixed 100%;
  background-size: cover;
}
.container {
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 100% !important;
    width: 98%;
}
@media only screen and (min-width: 601px) {
  .container {
      width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
      width: 90%;
  }
}

#logoBar {
    background: #ff9800;
    background-size: 126px;
    box-shadow: none;
}


#main {
  padding-left: 0px;  
}



@media only screen and (min-width: 993px) {
  #content {
    padding-top: 34px;
  }
}

/*----------------------------------------
    Horizontal Menu
------------------------------------------*/
#horizontal-nav {
  background: #fff;
  text-align: center;
  height: initial;
  line-height: initial;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}
#horizontal-nav ul {
  display: inline-block;
}
#horizontal-nav ul li {
  text-align: center;
  float: none;
  display: inline-block;
  margin: 0 14px;
}
#horizontal-nav ul li a {
  color: #777;
  font-size: 0.9rem;
}

/*IE Specific CSS */
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  #horizontal-nav ul li {
    min-width: 110px;
  }
}
.progress {
  background: rgba(0,0,0,0.25);
}
.progress .determinate {
  background-color: rgb(255, 255, 255);
}
#profile-page-header .row {
  margin-bottom: 0;
}
.card-profile-image {
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin: 0px auto;
}

footer.page-footer {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background: #000;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
}